{% extends 'base.html' %}
{% load static %}
{% block title %}Baminboyev | Bosh Sahifa{% endblock title %}
{% block content %}

<!-- Slider Start -->
<section class="slider" id="slider">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-8 col-md-8 col-12">
                  <div class="banner-content text-center">
                       <h1 class="cd-headline clip is-full-width mb-4 ">
                            Behruz Aminboyev<br>
                          <span class="cd-words-wrapper text-color">
                              <b class="is-visible">Assalomu Aleykum</b>
                              <b>Portfolio</b>
                              <b>Saytimga</b>
                              <b>Xush kelibsiz</b>
                          </span>
                      </h1>
                      <p class="font-weight-normal lead mt-3 mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat dolor pariatur, distinctio doloribus aliquid recusandae soluta tempore.</p>
                      <ul class="list-inline socials-icon mb-4">
                          <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100088852181171"><i class="fab fa-facebook-f"></i></a></li>
                          <li class="list-inline-item"><a href="https://www.youtube.com/@baminboyev"><i class="fab fa-youtube"></i></a></li>
                          <li class="list-inline-item"><a href="https://www.instagram.com/b.aminboyev/"><i class="fab fa-instagram"></i></a></li>
                          <li class="list-inline-item"><a href="https://github.com/baminboyev/"><i class="fab fa-github"></i></a></li>
                          <li class="list-inline-item"><a href="https://t.me/baminboyev"><i class="fab fa-telegram"></i></a></li>
                      </ul>
                      
                      <a href="#about" class="btn btn-main btn-rounded smoth-scroll">Batafsil<i class="fa fa-angle-right ml-2"></i></a>
                  </div>
              </div>
          </div>
      </div>
</section>
<section class="intro section">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 pr-lg-5">
                  <div class="intro-img">
                      <img src="{% static 'assets/images/01.jpg' %}" alt="" class="img-fluid">
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="intro-content mt-5 mt-lg-0">
                      <h2 class="text-lg mb-4">Men bilan ishlash sizga qulayliklar yaratadi</h2>
  
                      <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis aliquid accusamus veritatis quasi vero id libero, itaque et sequi, ipsa tempore officia delectus laudantium modi error nihil. Voluptatum</p>
                      
                      <ul class="list-unstyled ">
                          <li><h5><i class="ti-check mr-3"></i>Sifatli content</h5></li>
                          <li><h5><i class="ti-check mr-3"></i>Takrorlanmas dizayn</h5></li>
                          <li><h5><i class="ti-check mr-3"></i>Foydalanish oson</h5></li>
                      </ul>
  
                      <a href="#services" class="btn btn-main mt-4 btn-rounded smoth-scroll">Services<i class="fa fa-angle-right ml-2"></i></a>
                  </div>
              </div>
          </div>
      </div>
</section>
<section class="section-bottom experience">
      <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  <div class="title">
                      <h2>Ko'nikmalarim</h2>
                  </div>
              </div>	
          </div>
          <div class="row">
              <div class="col-lg-6 col-md-6">
                  <div class="skill-bar mb-2 mb-lg-0">
                      <div class="mb-4 text-right"><h4 class="font-weight-normal">Html/Css </h4></div>
                      <div class="progress">
                          <div class="progress-bar" data-percent="80">
                              <span class="percent-text"><span class="count">80</span>%</span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6">
                  <div class="skill-bar mb-2 mb-lg-0">
                      <div class="mb-4 text-right"><h4 class="font-weight-normal">Python</h4></div>
                      <div class="progress">
                          <div class="progress-bar" data-percent="95">
                              <span class="percent-text"><span class="count">95</span>%</span>
                          </div>
                      </div>
                  </div>
              </div>
  
              <div class="col-lg-6 col-md-6">
                  <div class="skill-bar mb-2 mb-lg-0">
                      <div class="mb-4 text-right"><h4 class="font-weight-normal">Django</h4></div>
                      <div class="progress">
                          <div class="progress-bar" data-percent="85">
                              <span class="percent-text"><span class="count">70</span>%</span>
                          </div>
                      </div>
                  </div>
              </div>
  
              <div class="col-lg-6 col-md-6">
                  <div class="skill-bar mb-2 mb-lg-0">
                      <div class="mb-4 text-right"><h4 class="font-weight-normal">Bootstrap</h4></div>
                      <div class="progress">
                          <div class="progress-bar" data-percent="70">
                              <span class="percent-text"><span class="count">85</span>%</span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6">
                  <div class="skill-bar mb-4 mb-lg-0">
                      <div class=" mb-4 text-right"><h4 class="font-weight-normal">Telegram bot</h4></div>
                      <div class="progress">
                          <div class="progress-bar" data-percent="60">
                              <span class="percent-text"><span class="count">60</span>%</span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6">
                  <div class="skill-bar mb-4 mb-lg-0">
                      <div class=" mb-4 text-right"><h4 class="font-weight-normal">Git/Github</h4></div>
                      <div class="progress">
                          <div class="progress-bar" data-percent="82">
                              <span class="percent-text"><span class="count">82</span>%</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</section>
<section class="section secondary-bg" id="services">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-6">
                  <div class="section-title text-center">
                      <h2 class="mb-4 text-lg">Mening Xizmatlarim</h2>
                      <p>Omnis est dolores commodi ullam tempora sequi asperiores ipsum autem ex aliquam. Voluptatibus unde</p>
                  </div>
              </div>
          </div>
          <div class="row no-gutters">
              <div class="col-lg-4 col-md-6">
                  <div class="service-item">
                      <div class="d-flex align-items-center mb-4">
                          <i class="ti-microphone mr-3"></i>
                          <h4>Branding</h4>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed.</p>
  
                      <a href="service-single.html" class="read-more">Learn More <i class="fa fa-angle-right"></i></a>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="service-item">
                      <div class="d-flex align-items-center mb-4">
                          <i class="ti-html5 mr-3"></i>
                          <h4>Web Development</h4>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed.</p>
  
                      <a href="service-single.html" class="read-more">Learn More <i class="fa fa-angle-right"></i></a>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="service-item">
                      <div class="d-flex align-items-center mb-4">
                          <i class="ti-video-camera mr-3"></i>
                          <h4>Digital Marketing</h4>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed.</p>
  
                      <a href="service-single.html" class="read-more">Learn More <i class="fa fa-angle-right"></i></a>
                  </div>
              </div>
  
              <div class="col-lg-4 col-md-6">
                  <div class="service-item">
                      <div class="d-flex align-items-center mb-4">
                          <i class="ti-desktop mr-3"></i>
                          <h4>Web Design</h4>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed.</p>
  
                      <a href="service-single.html" class="read-more">Learn More <i class="fa fa-angle-right"></i></a>
                  </div>
              </div>
  
              <div class="col-lg-4 col-md-6">
                  <div class="service-item">
                      <div class="d-flex align-items-center mb-4">
                          <i class="ti-layers mr-3"></i>
                          <h4>Graphics Design</h4>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed.</p>
  
                      <a href="service-single.html" class="read-more">Learn More <i class="fa fa-angle-right"></i></a>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="service-item">
                      <div class="d-flex align-items-center mb-4">
                          <i class="ti-wordpress mr-3"></i>
                          <h4>WordPress</h4>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed.</p>
  
                      <a href="service-single.html" class="read-more">Learn More <i class="fa fa-angle-right"></i></a>
                  </div>
              </div>
          </div>
      </div>
</section>
<!-- /portfolio -->
<section class="section experience" id="skills">
      <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  <div class="title">
                      <h2>Ish tajribam</h2>
                  </div>
              </div>	
          </div>
  
          <div class="row">
              <div class="col-lg-6">
                  <div class="content mb-4">
                      <h4>O'quv Markaz</h4>
                      <span class="text-color">"DATA" o'quv markazi Urganch (Sentabr 2021 - Fevral 2022)</span>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                  </div>
                  <div class="content mb-4">
                      <h4>Universitet</h4>
                      <span class="text-color">Toshkent Amaliy Fanlar Universiteti (Sentabr 2022 - May 2026)</span>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="content mb-4">
                      <h4>O'quv Markaz</h4>
                      <span class="text-color">ITPARK-Xorazm kompyuter savodxonligi (Fevral 2023 - Aprel 2023) </span>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                  </div>
                  <div class="content mb-4">
                      <h4>Dasturchi</h4>
                      <span class="text-color">Mohirdev python dasturchisi (May 2024 - Hozirgacha)</span>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                  </div>
              </div>
          </div>
      </div>
</section>
<section class="counter-wrap section-bottom">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-6">
                  <div class="counter-item mb-5 mb-lg-0">
                      <i class="ti-user"></i>
                      <span class="counter">785</span>
                      <h5>Happy Clients</h5>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="counter-item mb-5 mb-lg-0">
                      <i class="ti-thumb-up"></i>
                      <span class="counter">385</span>
                      <h5>project done</h5>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="counter-item mb-5 mb-lg-0">
                      <i class="ti-face-smile"></i>
                      <span class="counter">845</span>
                      <h5>Cup of tea</h5>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="counter-item">
                      <i class="ti-cup"></i>
                      <span class="counter">225</span>
                      <h5>awards won</h5>
                  </div>
              </div>
          </div>
      </div>
</section>
<section class="section bg-light" id="team">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-6">
                  <div class="section-title text-center">
                      <h2 class="mb-4 text-lg">Bizning Jamoa</h2>
                      <p>Omnis est dolores commodi ullam tempora sequi asperiores ipsum autem ex aliquam. Voluptatibus unde</p>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-4 col-md-6">
                  <div class="team-block mb-5 mb-lg-0">
                      <img src="{% static 'assets/images/03-1.jpg' %}" alt="" class="img-fluid">
                      <div class="team-content">
                          <span class="mt-4 d-block">Founder</span>
                          <h4 class="mb-4">Sanjarbekov Farruh</h4>
                      </div>
  
                      <div class="overlay-content">
                          <span class="mt-4 d-block">Founder</span>
                          <h4 class="mb-4">Sanjarbekov Farruh</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, molestiae.</p>
  
                          <ul class="list-inline">
                              <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
                              <li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
                              <li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="team-block mb-5 mb-lg-0">
                      <img src="{% static 'assets/images/02-2.jpg' %}" alt="" class="img-fluid">
                      <div class="team-content">
                          <span class="mt-4 d-block">Founder</span>
                          <h4 class="mb-4">Jumanazarov Sherzod</h4>
                      </div>
  
                      <div class="overlay-content">
                          <span class="mt-4 d-block">Founder</span>
                          <h4 class="mb-4">Jumanazarov Sherzod</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, molestiae.</p>
  
                          <ul class="list-inline">
                              <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
                              <li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
                              <li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              
              <div class="col-lg-4 col-md-6">
                  <div class="team-block">
                      <img src="{% static 'assets/images/01-3.jpg' %}" alt="" class="img-fluid">
                      <div class="team-content">
                          <span class="mt-4 d-block">Founder</span>
                          <h4 class="mb-4">Bohodirov Odomboy</h4>
                      </div>
  
                      <div class="overlay-content">
                          <span class="mt-4 d-block">Founder</span>
                          <h4 class="mb-4">Bohodirov Odomboy</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, molestiae.</p>
  
                          <ul class="list-inline">
                              <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
                              <li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
                              <li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</section>
<section class="cta">
      <div class="container">
          <div class="cta-wrap box-shadow">
              <div class="row align-items-center justify-content-between">
                  <div class="col-lg-8">
                      <div class="cta-content">
                          <span class="text-color">All in one Solution</span>
                          <h2 class="text-lg">Have any Project on mind?</h2>
                      </div>
                  </div>
                  <div class="col-lg-3 ">
                      <div class="text-lg-right mt-5 mt-lg-0">
                          <a href="#contact" class="btn btn-main btn-rounded smoth-scroll">Contact me<i class="fa fa-angle-right ml-2"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</section>
<section class="section" id="blog">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-6">
                  <div class="section-title text-center">
                      <h2 class="mb-4 text-lg">Blog</h2>
                      <p>Omnis est dolores commodi ullam tempora sequi asperiores ipsum autem ex aliquam. Voluptatibus unde</p>
                  </div>
              </div>
          </div>
  
          <div class="row">
              <div class="col-lg-4 col-md-6 ">
                  <div class="blog-item mb-5 mb-lg-0">
                      <img src="{% static 'assets/images/blog1.jpg' %}" alt="" class="img-fluid">
                      <div class="content mt-4">
                          <span class="timecount"><i class="ti-comments mr-3"></i>2 Comments</span>
                          <h4 class="mb-3 mt-2"><a href="blog-single.html">How To Build Honest UIs And Help Users Make Better </a></h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam corrupti, suscipit minima debitis.</p>
  
                          <a href="blog-single.html" class="read-more">Read More <i class="ti-angle-right"></i></a>
                      </div>
                  </div>
              </div>
  
              <div class="col-lg-4 col-md-6">
                  <div class="blog-item mb-5 mb-lg-0">
                      <img src="{% static 'assets/images/blog2.jpg' %}" alt="" class="img-fluid">
                      <div class="content mt-4">
                          <span class="timecount"><i class="ti-comments mr-3"></i>2 Comments</span>
                          <h4 class="mb-3"><a href="blog-single.html">Dating Apps: How To Improve Your Designs </a></h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam corrupti, suscipit minima debitis.</p>
  
                          <a href="blog-single.html" class="read-more">Read More <i class="ti-angle-right"></i></a>
                      </div>
                  </div>
              </div>
  
              <div class="col-lg-4 col-md-6">
                  <div class="blog-item mb-5 mb-lg-0">
                      <img src="{% static 'assets/images/blog3.jpg' %}" alt="" class="img-fluid">
                      <div class="content mt-4">
                          <span class="timecount"><i class="ti-comments mr-3"></i>2 Comments</span>
                          <h4 class="mb-3"><a href="blog-single.html">Meet Inclusive Front-End Design Patterns A New</a></h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam corrupti, suscipit minima debitis.</p>
  
                          <a href="blog-single.html" class="read-more">Read More <i class="ti-angle-right"></i></a>
                      </div>
                  </div>
              </div>
  
          </div>
      </div>
</section>
<section class="section" id="contact">
    <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-6">
                  <div class="section-title text-center">
                      <h2 class="mb-4 text-lg">Let's Get started</h2>
                      <p>Omnis est dolores commodi ullam tempora sequi asperiores ipsum autem ex aliquam. Voluptatibus unde</p>
                  </div>
              </div>
          </div>
  
          <div class="row justify-content-center">
              <div class="col-lg-8">
                  <form class="contact__form form-row contact-form" method="post" action="#" id="contactForm">
                       <div class="row">
                          <div class="col-12">
                              <div class="alert alert-success contact__msg" style="display: none" role="alert">
                                  Your message was sent successfully.
                              </div>
                          </div>
                      </div>
  
                      <div class="row">
                          <div class="col-lg-6">
                              <div class="form-group">
                                  <label>Your Name</label>
                                  <input type="text" id="name" name="name" class="form-control" placeholder="Enter Your Name">
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="form-group">
                                  <label>Your Email</label>	
                                  <input type="text" name="email" id="email" class="form-control" placeholder="Enter Your Email Address">
                              </div>
                          </div>
                          <div class="col-lg-12">
                              <div class="form-group">
                                  <label>Your Subject</label>	
                                  <input type="text" name="subject" id="subject"  class="form-control" placeholder="Enter Your Subject">
                              </div>
                          </div>
                          <div class="col-lg-12">
                              <div class="form-group">
                                  <label>Your Message</label>	
                                  <textarea id="message" name="message" cols="30" rows="8" class="form-control" placeholder="Your Message"></textarea>	
                              </div>
                          </div>
                      </div>
  
                      <div class="col-lg-12">
                          <div class="d-lg-flex justify-content-between mt-4">
                              <p>* Rest assured.We will not spam at your inbox.</p>
                              <input id="submit" name="submit" type="submit" class="btn btn-main btn-rounded" value="Send Message">
                          </div>
                      </div>
                  </form>	
              </div>
          </div>
    </div>
</section>



{% endblock content %}